.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Corpo e fundo da página */
body {
  background-color: #0D1321; /* Cor de fundo escura */
  color: #00ff00; /* Cor do texto clara */
}

/* Cabeçalhos e texto */
h1, h2, h3, h4, h5, h6 {
  color: #00ff00; /* Cor dos cabeçalhos */
}

/* Links */
a {
  color: #FFFFFF; /* Cor dos links */
}

a:hover {
  color: #FFFFFF; /* Cor dos links ao passar o mouse */
}

/* Bordas e sombras */
.card, .box {
  border: 1px solid #333; /* Cor das bordas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra dos elementos */
}